body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav .nav-link {
  text-decoration: none;
  position: relative;
  color: #000000; /* Set the default text color */
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -0.1em; /* Adjust to align with the text */
  left: 0;
  right: 0;
  height: 100%;
  background-color: hsl(0, 0%, 0%); /* Add your desired light background color */
  z-index: -1;
  clip-path: inset(0 0 100% 0); /* Clip the background to only cover the text */
  transition: background-color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #00ffa6; /* Change the text color on hover */
}


.custom-navbar {
  background-color: #49967e;
  padding: 15px 0; /* Adjust as needed */
  animation: fadeInAndColorChange 0.5s ease-in-out;
}

@keyframes fadeInAndColorChange {
  0% {
    opacity: 0;
    background-color: #ff009d;
  }
  50% {
    opacity: 0.5;
    background-color: #ff0066; /* Change to the color you want at midpoint */
  }
  100% {
    opacity: 1;
    background-color: #ff009d;
  }
}

.custom-btn {
  background-color: #ff00c8;
  color: #ff9d00;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-btn:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.custom-btn:hover {
  background-color: #2980b9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






